<div style="text-align: center;">
    <div class="box" id="dilemmaElement"  style="color:white; background: #4EC8DF;">
        {{dilema}}
    </div>

    <div class="btn-container" id="btnContainer">
        <button *ngFor="let button of buttons; let i=index" 
        class="btn" 
        [class.clicked]="clickedButton === button.text" 
        [class.no-hover]="buttonClicked" 
        (click)="clickRespuesta(button)">
            {{ button.text }}
            <br>
            <h1 *ngIf="buttonClicked" class="percentage" style="text-align: center;">{{ button.percentage}}%</h1>
        
        </button>
    
    </div>
    
    <app-noticia id="app-noticia"  *ngIf="buttonClicked" [dilemma]="dilemma"></app-noticia>
</div>
