

   #dilemmaElement{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    text-align: justify;
    hyphens: auto;
   }
  
 button.clicked > h1{
  color:white;
}


  
  h1 {
    margin: 0; /* Elimina los márgenes por defecto */
    color: #0F2E52; /* El color del texto */
    font-size: 2.5rem; 
    font-family: "Montserrat", sans-serif; 
  }
  
  .daily-title{
    margin-right: -50px;
  }
  .dilemma-title {
    margin-left: 500px;
  }

*, *::before,*::after{
    box-sizing: border-box;
}

.clicked {
    background-color: #0F2E52;
  }

  .button-container {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-right: -1vw;
  }
  


.line-box{
    padding:2px;
    width:40%;
    height: 20px;
    border: 1px solid #267591;
    border-radius: 20px;
}

.line{
    height: 20px;
    border-radius: 20px;
    background: #57d295;
    animation: loading 2s forwards cubic-bezier(0,0,0,0);

}

@keyframes loading{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}


@media screen and (max-width: 1000px) {
.btn{
  font-size:4vw;
  width: 100%;
}

}