.box{
    max-width: 50vw;
    padding: 25px;
}
h1{
    color:black;
}
p{
    text-align: center;
}

img{
    width: auto;
    max-height: 20vw;
    height: auto;
}

#contenedorNoticia{
    display: flex;
    text-align: left;
    font-size: 0.85vw;
    font-weight: 400;
}

#saltoPostFuente{
    display: none;
}
@media screen and (max-width: 1000px) {
    html {
        font-size: 3vw;
    }
    #verNoticia{
        text-align: inherit;
    }
    #contenedorNoticia{
        display: block;
        text-align: left;
        font-size: 30px;
        
    }
    #imgContainer{
        text-align: center;
    }
    #saltoPostFuente{
        display: inline;
    }
    img {
        width: auto;
        max-height: 37vw;
        height: auto;
      }
    .box{
        max-width: 87vw;
        padding: 25px;
    }
    p{
        text-align: center;
        font-size: 4vw;
    }
    a{
        max-width: 90vw;    display: block;
    }
    .btn{
        font-size: 5vw;
        width: 100%;
    }
}