
<h2 class="box">¡Compártelo con tus amigos!</h2>
<!-- En el archivo "sharing.component.html" -->
<div class="sharing-buttons ">
    <button class="btn" (click)="shareOnWhatsApp()">
        <img id="whatsappBtn" src="https://cdn.iconscout.com/icon/free/png-256/free-whatsapp-logo-9289809-7573062.png" alt="WhatsApp">
    </button>
    <button class="btn" (click)="shareOnTwitter()">
        <img src="https://cdn.iconscout.com/icon/free/png-512/free-twitter-x-10463384-8589161.png?f=webp&w=256" alt="X">
    </button>
    <button class="btn" (click)="shareOnFacebook()">
        <img src="https://cdn.iconscout.com/icon/free/png-512/free-facebook-74-189794.png?f=webp&w=256" alt="Facebook">
    </button>
  </div>