
  

  .box {
    max-width: 65vw;
    margin: 50px auto;
    background: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }

  .user-icon {
    color: #0F2E52; 
}
  
  #heading {
    background: white;
    border-radius: 10px;
    text-align: center;
  }
  h1{
    color:#0F2E52;
  }
  .item {
    min-height: 5vw;
    display: block;
    align-items: center;
    border-bottom: 0.2vw solid #F1F1F1;
  }
  .larger{
    /* min-height: 15vw; */

  }
  /* .item {
    display: flex; /* Cambiar de block a flex 
    align-items: center; /* Asegurar alineación vertical al centro 
    justify-content: start; 
    border-bottom: 1px solid #F1F1F1;
    padding: 10px; /
  } */

  .item:last-child {
    border-bottom: 0;
  }
  
  
  input {
    margin: 0px;
    margin-left: 1vw;
    
}

  textarea{
    font-size: 0.85vw;
    font-weight: 350;
    box-shadow: 0px 0px 5px 2px rgba(128, 128, 128, 0.5);
    font-family: "Montserrat", sans-serif; 

    margin-top: 1vw;
    margin-left: 3.9vw;
    width: 80%;
    max-width: 80%;
    margin-bottom: 1vw;
  }
  
 
  
  form {
    text-align: left;
    margin-left: 20px;
  }
  


  .buttonRed {
    min-height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    background-color: red;
    color: #fff;
    font-size: 30px;
    padding-bottom: 6px;
    border-width: 0;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  input[type="text"] {
    text-align: left;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 1vw;
    font-weight: 200;
    width: 80%;
    max-width: 80%;
    box-shadow: 0px 0px 5px 2px rgba(128, 128, 128, 0.5);
  }

  /* input[type="text"] {
    /* Eliminar margen que empuja los inputs hacia abajo */
    /* margin: 0; En lugar de margin: 20px */
    /* Resto de tus estilos  } */

  input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #4EC8DF;
  }
  
  ::placeholder {
    color: grey;
    opacity: 1;
  }
  