
  

  .box {
    max-width: 65vw;
    margin: 50px auto;
    background: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }

  .user-icon {
    color: #0F2E52; 
}
  
  #heading {
    background: white;
    border-radius: 10px;
    text-align: center;
  }
  h1{
    color:#0F2E52;
  }

  .btn{
    width: 14.927vw;
    font-size: 1.5vw;
  }

  .item {
    min-height: 5vw;
    display: block;
    align-items: center;
  }

  .item:last-child{
    border-bottom: 0;
  }
  
  .larger{
    /* min-height: 15vw; */

  }
 
  
  
  input {
    margin: 0px;
    margin-left: 1vw;
    
}
hr{
  margin-bottom: 1vw;
}

  textarea{
    font-size: 0.85vw;
    font-weight: 350;
    box-shadow: 0px 0px 5px 2px rgba(128, 128, 128, 0.5);
    font-family: "Montserrat", sans-serif; 

    margin-top: 1vw;
    margin-left: 3.9vw;
    width: 80%;
    max-width: 80%;
    margin-bottom: 1vw;
  }
  
 
  
  form {
    text-align: left;
    margin-left: 20px;
  }
    
  input[type="text"] {
    text-align: left;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 1vw;
    font-weight: 200;
    width: 80%;
    max-width: 80%;
    box-shadow: 0px 0px 5px 2px rgba(128, 128, 128, 0.5);
  }
  p{
    text-align: left;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 1vw;
    font-weight: 200;
    width: 80%;
    max-width: 80%;
  }
  article{
    font-size: 0.85vw; margin-left: 4vw;
    margin-bottom: 1.5vw;
    margin-top: 1vw;
  }
  /* input[type="text"] {
    /* Eliminar margen que empuja los inputs hacia abajo */
    /* margin: 0; En lugar de margin: 20px */
    /* Resto de tus estilos  } */

  input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #4EC8DF;
  }
  
  ::placeholder {
    color: grey;
    opacity: 1;
  }
  
  .comments  {
    text-align: left;
    margin-left: 1vw;
    margin-top: 0.75vw;
  }
  #iSpan{
    font-size: 0.95vw;
                    opacity: 0.6;
                    margin-left: 1vw;
                    margin-right: 0.4vw;
  }
  #spanSpan{
    font-size: 0.95vw; opacity: 0.6;
  }

  .comments-container {
    max-height: 35vw;
    overflow-y: auto;
  }

  .replies{
    margin-left: 4vw;
    
  }
  #replyButton{
    margin-left: 2.5vw;
  width: auto;
  font-size: 1vw;
  }
  

  @media screen and (max-width: 1000px) {
    i{
      font-size: 7vw;
    }

    #replyButton{
      font-size: 4vw;
    }

    .btn{
      font-size:4vw;
      width: 100%;
    }
    .box {
      max-width: 87vw;
      padding: 25px;
      padding-bottom: 5vw;
    }
    .comments{
      padding-top: 5vw;
    }
    p{
      font-size: 4vw;
    }
    h1{
      font-size: 6vw;
    }
    
    span{
      font-size: 4vw;
    
    }
    input[type="text"] {
      font-size: 4vw;
    }
    textarea{
      font-size: 4vw;
      margin-top: 6vw;
      margin-left: 7.5vw;
    }
    #iSpan{
      font-size: 4vw;
    }
    #spanSpan{
      font-size: 3vw;
    }
    article{
      font-size: 4vw;
    }
    hr{
      
      margin-top: 5vw;
    }
    .comments-container {
      max-height: 65vw;
    }
  }
  